<p-menubar [model]="itens">
  <ng-template pTemplate="start">
    <img src="logo_pitang.png" alt="Logo" style="max-width: 100px; height: auto;"/>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button *ngIf="!isAuthenticated" label="Login" class="p-button-text p-button-sm p-button-primary"  (click)="navigateToSignin()"></p-button>
    <div *ngIf="isAuthenticated" class="logout-container">
      <p-button 
        label="Logout" 
        icon="pi pi-sign-out"
        class="p-button-text p-button-sm p-button-danger" 
        (click)="logout()">
      </p-button>
      
      <p-avatar 
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
        shape="circle">
      </p-avatar>
    </div>
  </ng-template>
</p-menubar>
