<div class="adjust-table-width">
  <form [formGroup]="userForm" class="userForm">
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <div fxFlex="45" class="input-container">
        <label for="firstName">First Name</label>
        <input id="firstName" formControlName="firstName" type="text" pInputText/>
      </div>
      <div fxFlex="45" class="input-container">
        <label for="lastName">Last Name</label>
        <input id="lastName" formControlName="lastName" type="text" pInputText/>
      </div>
    </div>
    
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <div fxFlex="40" class="input-container">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" pInputText/>
      </div>
      <div fxFlex="20" class="input-container">
        <label for="phone">Phone</label>
        <p-inputMask
          id="phone"
          formControlName="phone"
          mask="(99) 99999-9999"
          placeholder="(00) 00000-0000"
          [unmask]="true"
        ></p-inputMask>
      </div>
      <div fxFlex="28" class="input-container">
        <label for="birthday">Birthday</label>
        <input id="birthday" formControlName="birthday" type="date" pInputText/>
      </div>
    </div>
    
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <div fxFlex="45" class="input-container">
        <label for="login">Login</label>
        <input id="login" formControlName="login" type="text" pInputText/>
      </div>
      <div *ngIf="editUser?.id == null" fxFlex="45" class="input-container">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" pInputText/>
      </div>
    </div>
    
    <div fxLayoutAlign="center">
      <button class="button-submit"
        fxFlex="40"
        style="width: 60%; margin-bottom: 20px"
        type="button"
        pButton
        (click)="submit()">
        Submit
      </button>
    </div>
  </form>


  
</div>

<p-toast></p-toast>
